/* Variables */

:root {
    --color-1: #FFFFFF;
    --color-2: #016CFA;
    --color-3: #00E164;
}

/* Tag level selectors */

* {
    font-size: 14px;
}

/* Colors text inside columns */

.col-text-white {
    color: var(--color-1);
}

/* Puts padding top and bottom to containers */

.container-padded {
    padding: 0.5rem 0;
}

/* Puts borders on columns */

.col-bordered-white {
    border: 1px solid var(--color-1);
}

.col-bordered-blue {
    border: 1px solid var(--color-2);
}

/* Puts background colors on columns */

.col-background-blue {
    background-color: var(--color-2);
}

.col-background-green {
    background-color: var(--color-3);
}

/* Puts padding on columns */

.col-padded {
    padding: 0.7rem 0.5rem;
}

/* Gives fixed height on columns */

.col-height {
    height: 40px;
}

/* Centers text inside columns */

[class*="col-"] {
    text-align: center;
}